{% extends 'departments.html' %}
{% block title %}Departments filter{% endblock %}
{% block top %}
    {% call macros.block_top('Department', 'departments_filter') %}
        <a href="{{ url_for('departments') }}" class="pseudo button active">
            <i class="el el-filter el-lg"></i>
        </a>
        <a href="{{ url_for('add_dept') }}" class="success button">
            Add <i class="el el-plus"></i>
        </a>
    {% endcall %}
{% endblock %}
{% block middle %}
    <div class="card" style="white-space: nowrap; text-align: center">
        <form action="{{ url_for('departments_filter') }}" method="post">
            <h2 style="text-align: center">Filter by:</h2>
            <p>

                {{ form.min_employees.label }}
                {{ form.min_employees(class='width_15') }}
                {{ form.max_employees.label }}
                {{ form.max_employees(class='width_15') }}
                {% if form.min_employees.errors %}
                    {% for error in form.min_employees.errors %}
                        <div class="error-msg">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% if form.max_employees.errors %}
                {% for error in form.max_employees.errors %}
                    <div class="error-msg">{{ error }}</div>
                {% endfor %}
            {% endif %}
            </p>
            <p>
                {{ form.min_salary.label }}
                {{ form.min_salary(class='width_15') }}
                {{ form.max_salary.label }}
                {{ form.max_salary(class='width_15') }}
                {% if form.min_salary.errors %}
                    {% for error in form.min_salary.errors %}
                        <div class="error-msg">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% if form.max_salary.errors %}
                {% for error in form.max_salary.errors %}
                    <div class="error-msg">{{ error }}</div>
                {% endfor %}
            {% endif %}
            </p>
            <div align="center">
                <button class="pseudo" type="reset"><i class="el el-repeat"></i></button>
                <button class="pseudo" type="submit"><i class="el el-ok"></i></button>
            </div>
        </form>
    </div>
{% endblock %}