{% extends 'base.html' %}
{% block title %} Employee {% endblock %}
{% block top %}
    {% call macros.block_top('Employee', 'employee') %}
        <label for="modal_edit" class="button">Edit <i class="el el-pencil"></i></label>
    {% endcall %}
    <div class="modal">
        <input id="modal_edit" type="checkbox"/>
        <label for="modal_edit" class="overlay"></label>
        <form action="{{ url_for('employee', id=employee['id']) }}" method="post">
            <article>
                <header>
                    <h3>Edit employee</h3>
                    <label for="modal_edit" class="close">&times;</label>
                </header>
                <section style="width: 25em">
                    <div class="flex two">
                        <div>
                            {{ form.first_name.label }}
                            {{ form.first_name(class='width_20') }}

                            {% if form.first_name.errors %}
                                {% for error in form.first_name.errors %}
                                    <div class="error-msg">{{ error }}</div>
                                {% endfor %}
                            {% endif %}

                            {{ form.birth_date.label }}
                            {{ form.birth_date(class = 'width_20') }}

                            {% if form.birth_date.errors %}
                                {% for error in form.birth_date.errors %}
                                    <div class="error-msg">{{ error }}</div>
                                {% endfor %}
                            {% endif %}

                            {{ form.department.label }}
                            {{ form.department(class='width_20') }}

                            {% if form.department.errors %}
                                {% for error in form.department.errors %}
                                    <div class="error-msg">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            {{ form.last_name.label }}
                            {{ form.last_name(class='width_20') }}

                            {% if form.last_name.errors %}
                                {% for error in form.last_name.errors %}
                                    <div class="error-msg">{{ error }}</div>
                                {% endfor %}
                            {% endif %}

                            {{ form.hire_date.label }}
                            {{ form.hire_date(class = 'width_20') }}

                            {% if form.hire_date.errors %}
                                {% for error in form.hire_date.errors %}
                                    <div class="error-msg">{{ error }}</div>
                                {% endfor %}
                            {% endif %}

                            {{ form.salary.label }}
                            {{ form.salary(class='width_20') }}

                            {% if form.salary.errors %}
                                {% for error in form.salary.errors %}
                                    <div class="error-msg">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </section>
                <footer>
                    <button class="success" type="submit">Accept</button>
                    <label for="modal_edit" class="button dangerous">
                        Cancel
                    </label>
                </footer>
            </article>
        </form>
    </div>
{% endblock %}
{% block middle %}
    <div style="width: 600px; background-color: #eeeeee; padding-left: 1ch">
        <div class="flex two">
            <div style="width: 300px;">
                <h4>ID: {{ employee['id'] }}</h4>
                <h4>First name: {{ employee['first_name'] }}</h4>
                <h4>Last name: {{ employee['last_name'] }}</h4>
                <h4>Birth date: {{ employee['birth_date'] }}</h4>
            </div>
            <div style="width: 300px;">
                <h4>Hire date: {{ employee['hire_date'] }}</h4>
                <h4>Department: {{ employee['department'] }}</h4>
                <h4>Salary: {{ employee['salary'] }}</h4>
            </div>
        </div>

    </div>
{% endblock %}